html {
  font-family: Inter, 'Segoe UI', sans-serif;
  background: #f7f7f7;
  color: #334155;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f7f7f7;
  color: #334155;
}

img {
  max-width: 100%;
  display: block;
}

button,
input,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

#root {
  min-height: 100vh;
}

h1,
h2,
h3,
p {
  margin: 0;
}

 a {
  text-decoration: none;
}
